/* ### Secondary */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  font-family: "Poppins", sans-serif;
}

.is-hidden {
  display: none !important;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1.2em;
}
.header__content .menu {
  display: none;
}
.header__logo {
  height: 25px;
}
.header label {
  height: 25px;
  opacity: 0.5;
}
.header .menu__checkbox {
  display: none;
}
.header .menu__checkbox:checked ~ .menu__button {
  transition: 0.4s ease;
}
.header .menu__checkbox:checked ~ .menu {
  --animate-duration: 0.5s;
  display: block;
  height: 385px;
  background-color: #3b3054;
  border-radius: 10px;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  width: 325px;
  max-width: 100%;
  display: block;
  transition: 1s ease;
}
.header .menu__checkbox:checked ~ .menu .separador {
  margin: auto;
  width: 80%;
  border: 1px solid rgba(192, 192, 192, 0.1);
}
.header .menu__checkbox:checked ~ .menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.header .menu__checkbox:checked ~ .menu li:not(.log) {
  margin: 2em auto;
}
.header .menu__checkbox:checked ~ .menu li.log {
  margin: 1.5em auto;
}
.header .menu__checkbox:checked ~ .menu li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
}
.header .menu__checkbox:checked ~ .menu li .menu__button {
  padding: 0.6em 5em;
  background-color: #2acfcf;
  border-radius: 100px;
  font-size: 1em;
}
.header .menu__checkbox:checked ~ .menu li .menu__button:hover {
  background-color: #9be3e2;
}

.hero__container {
  overflow: hidden;
}
.hero__container .container-image {
  margin: auto;
  display: flex;
  justify-content: center;
}
.hero__container .container-image img {
  margin-left: 10em;
}
.hero__container .wrapper {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__container .wrapper h1 {
  margin-top: 0.6em;
  font-size: 2.5em;
  font-weight: 700;
  color: #35323e;
  text-align: center;
  letter-spacing: -0.05em;
  line-height: 1.1em;
}
.hero__container .wrapper p {
  width: 90%;
  margin: auto;
  margin: 1em auto;
  color: #35323e;
  text-align: center;
  opacity: 0.5;
  font-size: 0.9em;
}
.hero__container .wrapper .btn__ppal {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 180px;
  max-width: 100%;
  padding: 14px 24px;
  background-color: #2acfcf;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 0.9em;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-bottom: 4em;
}
.hero__container .wrapper .btn__ppal:hover {
  background-color: #9be3e2;
}

.shortern {
  position: relative;
  z-index: 3;
}
.shortern .wrapper {
  width: 340px;
  max-width: 100%;
  margin: auto;
}
.shortern .wrapper .shortern__container {
  margin: 1em auto;
  padding: 1.3em;
  border-radius: 10px;
  overflow: hidden;
  background: url("../img/bg-shorten-mobile.svg") top -30px left 70px no-repeat;
  background-size: contain;
  background-color: #3b3054;
  transition: 1s ease;
}
.shortern .wrapper .shortern__container .error-input {
  color: #f46262;
  font-size: 0.8em;
  font-weight: 600;
  font-style: oblique;
  display: none;
  padding-top: 1em;
}
.shortern .wrapper .shortern__container .shortern__form-control input {
  width: 100%;
  height: 3em;
  border-radius: 5px;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  border: none;
}
.shortern .wrapper .shortern__container .shortern__form-control input::placeholder {
  font-weight: 600;
}
.shortern .wrapper .shortern__container button {
  margin-top: 1em;
  padding: 0.5em 2em;
  border-radius: 5px;
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: #2acfcf;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2em;
  font-weight: 600;
  font-size: 0.8em;
}
.shortern .wrapper .shortern__container button .loading {
  display: none;
}

.shorterns-urls {
  background-color: #f0f1f6;
  padding-top: 8em;
  position: relative;
  top: -100px;
}
.shorterns-urls .wrapper {
  width: 90%;
  margin: auto;
  max-width: 100%;
}
.shorterns-urls__container {
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
}
.shorterns-urls__container .container-x {
  display: flex;
  justify-content: space-between;
}
.shorterns-urls__container .container-x img {
  opacity: 0.1;
  transition: 0.5s ease;
  position: relative;
  top: -10px;
  left: 10px;
}
.shorterns-urls__container .container-x img:hover {
  opacity: 1;
  cursor: pointer;
}
.shorterns-urls__container .shorterns-urls__card {
  transition: 1s ease;
  position: relative;
  top: -30px;
  border-radius: 5px;
  padding: 1em;
  font-weight: 500;
  background-color: white;
  width: 340px;
  max-width: 100%;
  margin: auto;
}
.shorterns-urls__container .shorterns-urls__card a {
  text-decoration: none;
}
.shorterns-urls__container .shorterns-urls__card hr {
  width: 400px;
  max-width: 100%;
  opacity: 0.4;
  margin: 0.3em 0;
}
.shorterns-urls__container .shorterns-urls__card .shorterns-urls__url {
  font-size: 0.8em;
  font-weight: 600;
}
.shorterns-urls__container .shorterns-urls__card .shorterns-urls__url:visited {
  color: #232127;
}
.shorterns-urls__container .shorterns-urls__card .short-url {
  font-size: 0.8em;
  color: #2acfcf;
  font-weight: 600;
}
.shorterns-urls__container .shorterns-urls__card .short-url:visited {
  color: #2acfcf;
}
.shorterns-urls__container .shorterns-urls__card button {
  width: 400px;
  max-width: 100%;
  background-color: #2acfcf;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  padding: 0.3em 1em;
  margin: auto;
  margin-top: 0.5em;
}

.statistics {
  margin-top: -6em;
  background-color: #f0f1f6;
  padding-bottom: 1em;
  position: relative;
  z-index: -9;
}
.statistics .wrapper {
  width: 90%;
  margin: auto;
}
.statistics .wrapper .statistics__advanced {
  margin-bottom: 2em;
  position: relative;
  top: -40px;
}
.statistics .wrapper .statistics__advanced h2 {
  padding-top: 150px;
  font-size: 1.4em;
  text-align: center;
  color: #35323e;
  padding-top: 2em;
}
.statistics .wrapper .statistics__advanced p {
  padding-top: 0.8em;
  text-align: center;
  color: #9e9aa7;
  font-size: 0.9em;
}
.statistics .wrapper .statistics__card {
  margin: auto;
  background-color: white;
  margin: 3em auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 6em;
  position: relative;
  z-index: -8;
}
.statistics .wrapper .statistics__card .statistics__card-container-image {
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #3b3054;
  margin-top: -40px;
}
.statistics .wrapper .statistics__card .statistics__card-container-image img {
  height: 35px;
}
.statistics .wrapper .statistics__card div[class=statistics__card-container-image]::before {
  content: "";
  height: 90px;
  width: 8px;
  position: absolute;
  margin-top: -120px;
  z-index: -1;
  background-color: #2acfcf;
}
.statistics .wrapper .statistics__card h3 {
  font-size: 1.3em;
  color: #35323e;
  padding-top: 1.5em;
}
.statistics .wrapper .statistics__card p {
  width: 80%;
  color: #9e9aa7;
  font-size: 0.85em;
  padding: 1em 0 3em 0;
}

.boost__container {
  height: 300px;
  width: 100%;
  background: url("../img/bg-boost-mobile.svg") center center no-repeat;
  background-size: cover;
  background-color: #3b3054;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}
.boost__container h2 {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.7em;
}
.boost__container button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 180px;
  max-width: 100%;
  padding: 14px 24px;
  background-color: #2acfcf;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 0.9em;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-top: 1.3em;
}
.boost__container button:hover {
  background-color: #9be3e2;
}

.footer {
  background-color: #1a171c;
}
.footer__container {
  display: block;
}
.footer__container .container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__container .container__logo img {
  margin: 2em 0;
}
.footer__container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}
.footer__container ul li {
  list-style: none;
}
.footer__container ul li:nth-child(1) {
  padding-bottom: 0.7em;
}
.footer__container ul li a {
  opacity: 0.6;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.7em;
}
.footer__container ul li .first-item {
  font-size: 0.8em;
  color: white;
  opacity: 1;
  font-weight: 600;
}
.footer__container ul.social {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  padding: 1em 0 2em 0;
}
.footer__container ul.social li {
  margin: 0;
  padding: 0;
  margin: 0 0.7em;
}
.footer__container ul.social li a {
  opacity: 1;
}
.footer .attribution {
  color: white;
  font-size: 0.4em;
  text-align: center;
  opacity: 0.7;
  padding-bottom: 1em;
}
.footer .attribution a {
  color: #21fafa;
  font-size: 1em;
  text-decoration: none;
}
.footer .attribution a:hover {
  color: #fc5a31;
}

/*# sourceMappingURL=styles.css.map */
